<!DOCTYPE html>
<html>
  <script>
    
  </script>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>food</h1>
    <h1><%=foods%></h1>
    <h1>nutrients</h1>
    <div id="NUTRIENTS-DIV"></div>
    <h1>micronutrients</h1>
    <div id="MICRO-DIV"></div>
  </body>
</html>