<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <style>
    table, th, td {
      border:1px solid black;
      width: 25%
    }
  </style>
  <body>
    <h1>Nutritional Value</h1>
    <p>"<%= foods %>"</p>
  </body>
</html>