<!DOCTYPE html>
<html>
    <title>Home</title>
    <head>
      <h1>Choose an option:</h1>
      <link rel='stylesheet' href='/stylesheets/style.css' />
      <p>Use the buttons below to get a free DRI and Dietary Plan, or to analyze your recent meal!</p>
      <a href = "/getAttributes"><button type="button">Dietary Plan</button></a>
      <a href = "/upload"><button type="button">Meal Analysis</button></a>
  </head>
</html>