<!DOCTYPE html>
<html>
  <head>
    <title>Signup</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p><%= info %></p>
    <form method="post" action="/registerUser" id="signup" name="signup">
        <label for="email">Email Address: </label>
        <input name="email" type="text" id="email" email_add="email" required>
        <br>
        <label for="pass">Password: </label>
        <input name="password" type="text" id="pass" password="pass" required>
        <br>
        <label for="height">Height (cm): </label>
        <input name="height" type="text" id="height" height="height" required>
        <br>
        <label for="weight">Weight (kg): </label>
        <input name="weight" type="text" id="weight" weight="weight" required>
        <br>
        <label for="age">Age: </label>
        <input name="age" type="text" id="age" age="age" required>
        <br>
        <input type="submit" value="Signup">
    </form>
    <input name="login" type="button" value="Login" onclick="location.href='../login'">
  </body>
</html>