<!DOCTYPE html>
<html>
  <head>
    <title>Upload</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script>
    window.onload = function() {
      photo = document.getElementById("photo")
      console.log(photo.value)
      photo.addEventListener("change", function(){
        console.log("changed")
        const file = photo.value;
        console.log(typeof photo.value)
        photo.value = URL.createObjectURL(file);
      })
    }
    </script>
  </head>
  <body>
    <h1><%= title %></h1>
    <form method="post" action="/processImages" id="login" name="login">
        <label for="photo">upload photo OF INDIVIDUAL FOOD ITEM here:</label>
        <input type="file" id="photo" value="photo" name="photo" accept="image/*" required>
        <br>
        <input type="submit" value="submit">
    </form>
  </body>
</html>